@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
  display: flex !important;
  gap: 10px;
}

.slick-track {
  display: flex;
  gap: 10px;
}

.mail {
  background-image: url("../public/assets/Gmail.png");
  background-repeat: no-repeat;
}
